b {
  color: orange;
}

calcite-label {
  --calcite-color-text-1: #ffffff;
  --calcite-font-size--1: 1.1rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 15px;
}

calcite-tab,
calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
  border-style: solid;
  border-width: 0.7;
  border-top: rgb(0, 0, 0, 0);
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00032235;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00032235;
}

.esri-legend__layer-caption {
  display: none;
}

.esri-legend * {
  background-color: #2b2b2b;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 2.6vh;
  max-width: 290px;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: rgb(163, 161, 161);
  font-size: 0.8rem;
  margin-top: auto;
  margin-left: 100px;
}

.dropdownFilter {
  height: 50px;
  width: 70%;
  border-color: rgb(0, 0, 0, 0);
  padding-top: 10px;
  margin-left: -20rem;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: black;
  justify-content: right;
}

/* total Progress */

.totalProgressNumber {
  color: #6ede00;
  font-size: 3rem;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 4%;
}

.totalProgressNumber2 {
  color: white;
  font-size: 2vh;
  font-weight: normal;
  margin-left: 4%;
  margin-top: 8%;
}

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
